{% extends 'base.html' %}
{% load static %}
{% block title %}Manage FOS Data{% endblock %}



{% block body %}
<div class="page-body">
	<div class="manage-files-title">
		 <h1>Manage FOS Data</h1>
	</div>
	<div class="manage-files-filter-container">
		 <form class="filter-form" method="get" action="{% url 'file-manage' %}">
		     <div class="manage-form-group">
		         <label for="fos_serial_number">FOS Serial Number:</label>
		         <input type="checkbox" id="use_fos_serial_number" name="use_fos_serial_number">
		         <input type="text" name="fos_serial_number" placeholder="FOS Serial Number" id="fos_serial_number">
		     </div>
		     <div class="manage-form-group">
		         <label for="event_type">Event Type:</label>
		         <input type="checkbox" id="use_event_type" name="use_event_type">
		         <select name="event_type" id="event_type">
		             <option value="">Select an event type</option>
		             {% for id, name in form.fields.event_type.choices %}
		             <option value="{{ id }}">{{ name }}</option>
		             {% endfor %}
		         </select>
		     </div>
		     <div class="manage-form-group">
		         <label for="channel">Channel:</label>
		         <input type="checkbox" id="use_channel" name="use_channel">
		         <input type="number" name="channel" placeholder="Channel" id="channel">
		     </div>
		     <button type="submit" class="btn filter-button">Filter</button>
		 </form>
	</div>

	<div class="manage-files-container">
		 <div class="file-list-header">
		     <span class="file-info file-minwidth-serial">FOS Serial No.</span>
		     <span class="file-info file-minwidth-name">File Name</span>
		     <span class="file-info file-minwidth-event">Event</span>
		     <span class="file-info file-minwidth-description">Description</span>
		     <span class="file-info file-minwidth-actions">Actions</span>
		 </div>
		 {% for file in files %}
		 <div class="file-item">
		     <span class="file-overwrap file-info file-minwidth-serial">{{ file.fos_serial_number }}</span>
		     <span class="file-overwrap file-info file-minwidth-name">{{ file.file.name|cut:"uploads/" }}</span>
		     <span class="file-overwrap file-event file-minwidth-event">{{ file.get_event_type_display }}</span>
		     <span class="file-overwrap file-event file-minwidth-description">{{ file.event_description }}</span>
		     <div class="file-overwrap file-actions file-minwidth-actions">
		         <form action="{% url 'file_download' file.pk %}" method="post"  onsubmit="return confirm('Are you sure you want to Download this file?');">
		             {% csrf_token %}
		             <button type="submit" class="analyze-button">Download</button>
		         </form>
		         {% if request.user.is_staff %}
		         <form action="{% url 'file-delete' file.pk %}" method="post" onsubmit="return confirm('Are you sure you want to delete this file?');">
		             {% csrf_token %}
		             <button type="submit" class="delete-button">Delete</button>
		         </form>
		         {% endif %}
		     </div>
		 </div>
		 {% empty %}
		 <p>No files uploaded.</p>
		 {% endfor %}
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    function toggleInput(checkboxId, inputId) {
        var checkbox = document.getElementById(checkboxId);
        var input = document.getElementById(inputId);
        input.disabled = !checkbox.checked;
        checkbox.addEventListener('change', function() {
            input.disabled = !this.checked;
        });
    }

    toggleInput('use_fos_serial_number', 'fos_serial_number');
    toggleInput('use_event_type', 'event_type');
    toggleInput('use_channel', 'channel');
});
$(document).ready(function(){
    $('#filter-form').submit(function(event){
        event.preventDefault(); 
        var form = $(this);
        $.ajax({
            type: form.attr('method'),
            url: form.attr('action'),
            data: form.serialize(),
            success: function(data) {
                $('.manage-files-container').html(data);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error('AJAX error: ' + textStatus + ' : ' + errorThrown);
            }
        });
    });
});
</script>

{% endblock %}
